<ion-header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</ion-header>

<ion-content padding>
  <div class ="margin"></div>

  <!-- <ion-item> -->
    <div align = "center" >
    <div class="bg-circle"  (click)="share()">
     
<p>
      700,000,000,000.00
</p>

    </div>
</div>

<!-- {{test}} -->

    <div style="padding-top:250px; "></div>
    <ion-row>
      <ion-col>

      </ion-col>
      
      <ion-col >
        <ion-button (click)="dep()" color = "pomming">
            
            <i class="fas fa-university fa-lg fa-fw"></i>
        
        </ion-button>
      </ion-col>
      
      <ion-col>

      </ion-col>
      
      </ion-row>
      <br>
      <!-- <br> -->


      <ion-row>
        <ion-col>
      <ion-button (click)="loan()" color = "pomming">
        
          <i class="fas fa-cloud-download-alt fa-lg fa-fw" ></i>
         
      
      </ion-button>
  </ion-col>
  <ion-col>
      <ion-button  (click)="kep()" color = "pomming">
        
          <i class="fas fa-calendar-alt fa-lg fa-fw"></i>
         
      </ion-button>
  </ion-col>
  <ion-col>
      <ion-button  (click)="dividend()" color = "pomming">
          <i class="fas fa-database fa-lg fa-fw"></i>

        <!-- <ion-label>Profile</ion-label> -->
      </ion-button>
  
     </ion-col>
  
    </ion-row>
  

</ion-content>
