.margin{
    margin-top: 45px;
}
ion-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
.headtext{
    color: #555555;
    font-weight: bold;
    font-size: 1em;

}
.maintext{
    color: #0c0c0c;
    font-weight: bold;
    font-size: 1em;
    border-bottom: #555555 solid 1px;

}
ion-button{
    border-radius: 50%;
    margin:2px;
}
