<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="myview">
  <!-- <img src="../../assets/icon/logo.png" align = "center"> -->
  <ion-item>
 <ion-label position="floating" align ="center">Username</ion-label>

 <ion-input align ="center" [(ngModel)]="username"> <span><ion-icon name="person" placeholder = "Username " required></ion-icon></span></ion-input>
</ion-item>
<ion-item>
 <ion-label position="floating" align = "center">Passwords</ion-label>

 <ion-input align = "center"  type = "password" [(ngModel)]="password" required> <span><ion-icon name="lock"></ion-icon></span></ion-input>
 
</ion-item>
<br>

<ion-button expand="block" color="success" style = " font-weight: bold; font-size: 15" (click)="login()">Sign in</ion-button>
<!-- <ion-button routerLink="/menu"> Click</ion-button> -->
</ion-content>
